{{#partial "titulo"}}Recomendaciones{{/partial}}
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/recomendaciones.css">
</head>

{{#partial "principal" }}
    <div class="recuadroChico">
        <h1>Cuida el medio ambiente con las recomendaciones de noviembre</h1>
        <hr>
        <section>
            <h2>Una guía para la fabricación y la construcción sustentable</h2>
            <p>
                La sustentabilidad ha sido un tema inminente en la mente de muchos consumidores y empresarios
                socialmente conscientes, y por una buena razón: el ecosistema del planeta depende de ello.
            </p>
                Para industrias vitales como la construcción y la fabricación, la necesidad de reconocer
                y actuar sobre la gran importancia de la sustentabilidad no solo es una decisión comercial sensata, sino también un deber con el mundo natural.
            <p>
                La economía circular es un proceso efectivo adoptado por muchos en un esfuerzo por mejorar
                la sustentabilidad general, y para materiales inmensamente populares y extremadamente importantes
                como el acero, incluso puede ser una necesidad maximizar los recursos y minimizar la huella de carbono.
            </p>
            <p>
                ¿Cómo marca esto exactamente la diferencia en términos del futuro de la producción sustentable
                y por qué deberíamos darle importancia?
                Ya sea que esté o no en la industria, es importante comprender qué se está haciendo exactamente
                para reducir el impacto negativo de la fabricación y la construcción en el medio ambiente,
                ya que usted también puede ser parte de la solución. Después de todo, la sustentabilidad es un
                tema que nos afecta a todos.
            </p>
            <p>Para mas informacion consultar:</p>
            <a href="https://meuresiduo.com/es/blog-es/una-guia-para-la-fabricacion-y-la-construccion-sustentable/">Link</a>
        </section>
        <hr>
        <section>
            <h2>¿Qué es la movilidad sustentable y cómo beneficia a nuestras ciudades?</h2>
            <p>La movilidad sustentable es un modelo de traslado y de ciudad que permite a las personas ir
                de un lugar a otro sin generar tantas emisiones contaminantes,
                de forma accesible, eficiente, segura y equitativa para todo tipo de personas y necesidades.
            </p>
            <p>
                La forma actual en la que las personas nos movemos en la mayoría de las ciudades
                está acabando con nuestra paciencia: muchas horas de traslado,
                precios elevados, hacinamiento en los transportes e inseguridad. Te entendemos
            </p>
            <p>
                ¿Te imaginas cómo sería trasladarte a tu trabajo en bicicleta sin tener que pelear el carril
                con los automóviles? ¿Te imaginas salir a caminar rodeada de jardínes y zonas verdes? ¿Te imaginas
                tomar el transporte público y tener la confianza de que será un viaje confortable y seguro?
                Eso es la movilidad sustentable
            </p>
            <p>Para mas informacion consultar:</p>
            <a href="https://www.greenpeace.org/mexico/blog/8708/que-es-la-movilidad-sustentable-y-como-beneficia-a-nuestras-ciudades/#:~:text=La%20movilidad%20sustentable%20es%20un,tipo%20de%20personas%20y%20necesidades.">Link</a>
        </section>
    </div>
{{/partial}}

</html>
{{> layout.html.hbs}}